*{

}

body
{
  background-image: url('C:/Users/Jona Rose/Desktop/christian/wallpaperflare-cropped (1).jpg');
  background-size: cover;
  font-family: courier;
  text-align: center;
  margin: 50px;
}

button {
  color: black;
  background-color: lightgray;
  border-color: black;
}

button:hover {
  font-size: 12px;
  color: red;
  background-color: black;
}

.calendar-container {
  display: inline-flex;
  justify-content: center;
}
table{
  display: absolute;
  width: 50%;
  margin-top: 40px;
  left: 50px;
  background-color: lightgray;
  color: black;
  box-shadow: 50px 50px 3px rgba(100, 0, 0, 0.1);
}

td, th{
  padding: 15px;
  border: none;
}

td {
  font-size: 14px;
}

a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-size: 20px;
  padding: none;
  color: red;
}

td:hover {
  font-size: 20px;
  padding: none;
  color: black;
}

.blank {
  opacity: 0;
}

.prev-month {
  opacity: .4;
}

td:nth-child(7n + 1) {
  color: red;
}

td:nth-child(7n) {
  color: green;
}